<div>
    <mat-form-field>
        <input matInput placeholder="Nombres" [(ngModel)]="cliente.nombres">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Apellidos" [(ngModel)]="cliente.apellidos">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Edad" [(ngModel)]="cliente.edad" max="15" maxlength="15" type="number">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Fecha Nacimiento" [(ngModel)]="cliente.fechaNacimiento">
    </mat-form-field>    
</div>
<button mat-raised-button color="primary" (click)="operar()">Aceptar</button>
<button mat-raised-button color="accent" (click)="cerrar()">Cancelar</button>